<VirtualHost *:80>
  ServerAdmin {{ serveradmin }}
  ServerName {{ domain_name }}
  DocumentRoot /var/www/vhosts/{{ domain_name }}/public_html
  <Directory /var/www/vhosts/{{ domain_name }}/public_html>
    Options FollowSymLinks
    AllowOverride All
  </Directory>
  CustomLog "/var/log/httpd/{{ domain_name }}-access_log" combined
  ErrorLog "/var/log/httpd/{{ domain_name }}-error_log"
</VirtualHost>